@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:' merriweather', sans-serif;
}

body {
    
    color: rgb(246, 247, 249);

}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.brand-logo img{
 width: 350px;
 height: 50px;
 margin-top: 0px;
 }
 

.navbar a {
  font-size: 18px;
  color:aliceblue;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color:rgb(222, 139, 22);

}

.nav-icon {
  display: flex;
  align-items: center;
  color:rgb(222, 139, 22) ;
  font-size: 25px;
  font-weight: 400;
  transition: all .42s ease-in;
}

.nav-icon i {
  margin-right:20px ;
}

.nav-icon i:hover {
  transform:scale(1,1) ;
  color: rgb(222, 139, 22);
}
#menu-icon {
  font-size: 35px;
  color:rgb(222, 139, 22) ;
  z-index: 1001;
  cursor: pointer;

}

.home {
  height: 100vh;
  background-image: url("/assets/priscilla-du-preez-dlxLGIy-2VU-unsplash (5).jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  align-items: center;
  padding: 0 10%;
}
.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height:1,2 ;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: rgb(165, 89, 42);
  margin: 10px 0 30px;
}

.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
 
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background:rgb(226, 131, 36);
  border: 2px solid rgb(226, 131, 36);
  border-radius: 8px;
  font-size: 19px;
  color:aliceblue;
  text-decoration: none;
  font-weight:600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.btn-box a:hover {
 color:rgb(226, 131, 36) ;
}


.btn-box a:nth-child(1) {
  background: transparent;
  color:rgb(226, 131, 36);
}

.btn-box a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(224, 219, 211);
  z-index:-1 ;
  transition: .5s;
}

.btn-box a:hover:before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 40px;
  width: 170px;
  
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  display: inline-flex;
  justify-content:center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid rgb(226, 131, 36);
  border-radius: 50%;
  font-size: 20px;
  color:rgb(226, 131, 36) ;
  text-decoration: none;
}

.down-arrow {
  position:absolute;
  top: 85%;
  right: 11%;

}
.down i {
  font-size: 30px;
  color: rgb(226, 131, 36) ;
  border: 2px solid rgb(226, 131, 36)  ;
  border-radius: 50px;
  padding: 12px 12px;
}

.down i:hover {
  background-color:rgb(226, 131, 36) ;
  color:rgb(165, 89, 42) ;
  transition: all .42s;
}



.center-text h2 {
  font-size: 28px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 30px;
}
.center-text span {
  color: rgb(226, 131, 36);
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(260px, auto));
  gap: 2rem;
}

.row {
  position: relative;
  transition: all .40s;
  max-width: 350PX;
  max-height: 450px;

}

.row img {
  width:100% ;
  height: auto;
  transition:all .40s;
}

.row img:hover {
  transform: scale(0.9);
}

.product-text h5 {
  position: absolute;
  top: 13px;
  left: 13px;
  color: #fff;
  font-size: 12px;
  font-weight:500;
  text-transform: uppercase;
  background-color:rgb(237, 237, 236);
  padding: 3px 10px;
  border-radius: 2px;
}

.heart-icon {
  position: absolute;
  right: 0;
  font-size: 20px;

}

.heart-icon:hover {
  color: #EE1C47;
}

.ratting i {
  color:rgb(255, 123, 0) ;
  font-size: 18px;
  
}

.price h4 {
  color: black;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
}

.price p {
  color:#151515 ;
  font-size: 14px;
  font-weight: 600;
}

.client-reviews {
  background-color: #F3F4F6;
}

.reviews {
  text-align: center;
}

.reviews h3 {
  color: #111;
  font-size: 25px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
}

.reviews img {
  width: 100px;
  height: auto;
  border-radius: 50px;
  margin: 10px 0;
}

.reviews p {
  color: #707070;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 10px;
}

.reviews h2 {
  font-size: 22px;
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 2px;
}

.up-center-text h2 {
  text-align: center;
  color: rgb(165, 89, 42);
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 30px;
}

.cart img {
  width: 380px;
  height: auto;
  border-radius: 5px;
}

.update-cart {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(380px,auto));
  gap:1rem;
}
.cart h5 {
  color:#636872;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
}

.cart h4 {
  color: #111;
  font-size: 18px;
  font-weight: 600;
}

.cart p {
  color: #707070;
  font-size: 15px;
  max-width: 380px;
  line-height: 25px;
  margin-bottom: 12px;
}
 .cart h6 {
  color: #151515;
  font-size: 14px;
  font-weight: 500;
 }

 .contact {
  background-color: #F3F4F6;
 }

 .contact-info {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(160px,auto));
  gap:3rem
 }

 .first-info img {
  width: 140px;
  height: auto;
 }

 .contact-info h4 {
  color: #212529;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
 }

 .contact-info p {
  color: #565656;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all .42s;
}

.contact-info p:hover {
  color: orange;
}

.social-icon i {
  color: #565656;
  margin-right:10px;
}

.social-icon i:hover {
  transform: scale(1,3);
}

.end-text {
  background-color: #fff;
  text-align: center;
  padding: 20px;
}

.end-text p {
  color: #111;
  text-transform: capitalize;
}

@media(max-width:890px) {
   header {
    padding: 20px 3%;
    transition: .4s;
   }
}

@media(max-width:630px) {
  .home-content h1 {
    font-size: 50px;
    transition: .4s;
  }
  .home-content h3 {
    font-size: 18px;
    transition: .4s;
  }
  .btn-box {
    padding: 10px 20px;
    transition: .4s;
  }

}

@media(max-width:750px) {
  .navbar{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 130vh;
    background: rgb(165, 89, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 30px;
    transition: all .42s;
  }

  .navbar a {
    display: block;
    margin: 18px 0;
  }
  .navbar.open{
   right: 0;
  }
}
